
.all
  .left
    .side__top
      .side__top__user
        .side__top__user__name
          sample-name
        .side__top__user__edit
          = link_to "", class: "icon__pencil" do
            = fa_icon "pencil-square-o"
          = link_to "", class: "icon__pencil" do
            = fa_icon "cog"

    .side__bottom
      .side__bottom__list
        .side__bottom__list__group
          .side__bottom__list__group__name
            天気
          .side__bottom__list__group__message
            まだメッセージはありません
        .side__bottom__list__group
          .side__bottom__list__group__name
            天気
          .side__bottom__list__group__message
            まだメッセージはありません

  .right
    .main__top
      .main__top__group
        .main__top__group__name
          group name
        .main__top__group__edit
          =link_to 'edit', root_path, class: 'edit-btn'
      .main__top__members
        Members
    .main__center
      .main__cdnter__contents

    .main__bottom
      %form.main__bottom__message
        .main__bottom__message-file
          %input.text{name: "text", type: "text", placeholder: "type a message"}
          .main__bottom__file
            %label.box
              %input.file{name: "image", type: "file" }
              = fa_icon "picture-o"
      %input.text-button{type: "submit", value: "send"}

